
body {
    font-size: 16px;
    line-height: 1.5;
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #111;
    color: #fff;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    color: #00ff00;
  }

  h2 {
    color: #00ff00;
  }

  h3 {
    color: #00ff00;
  }
  
  form {
    background-color: #222;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  label {
    display: block;
    margin-bottom: 8px;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    background-color: #333; 
    color: #fff; 
    border: 1px solid #00ff00; 
  }
  
  button {
    background-color: #00ff00;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  
/* Algab alumine osa */
  .full-width-line {
    width: 100%;
    border: 2px solid #00ff00;
    margin-top: 200px;
  }
  
  .after-line-content {
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    padding: 20px;
    list-style-type: circle
  }
  
  .after-line-content ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .after-line-content li {
    margin-bottom: 10px;
  }

 /* lõppeb alumine osa */